Source: gem
Section: unknown
Priority: optional
Maintainer: IOhannes m zmoelnig <zmoelnig@iem.at>
Build-Depends: debhelper (>> 3.0.0), pd (>=0.26), libglut3-dev, libtiff3g-dev, libgltt2-dev, libjpeg62-dev, libmpeg3-dev, libquicktime-dev | libquicktime4linux-dev
Standards-Version: 3.5.8

Package: gem
Architecture: any
Depends: ${shlibs:Depends}, pd (>=0.26), libglut3, libtiff3g, libgltt2, libjpeg62, libmpeg3-1, libquicktime1 | libquicktime4linux0
Description: Graphics Environment for Multimedia
 GEM is a loadable library for PD (pure-data), which adds OpenGL(tm)
 graphics rendering and animation and image-processing to PD.
