Source: gem
Section: graphics
Priority: optional
Maintainer: IOhannes m zmoelnig (gpg-key at iem) <zmoelnig@iem.at>
Homepage: http://gem.iem.at/
Build-Depends: debhelper (>=7) , cdbs, autoconf, pkg-config,
	puredata | pd, 
	libftgl-dev, libmagick++9-dev, 
	libxxf86vm-dev, libgl1-mesa-dev | libgl-dev, zlib1g-dev (>= 1:1.1.3), 
	libquicktime-dev, libmpeg3-dev,
	libdv-dev, libv4l-dev
Standards-Version: 3.8.3

Package: gem
Architecture: any
Depends: pd, ${misc:Depends}, ${shlibs:Depends}, ttf-dejavu
Suggests: pd-zexy
Description: Graphics Environment for Multimedia - PureData library 
 Gem is a loadable library for puredata, which adds OpenGL graphics rendering
 and animation to Pd.  Pd is a graphical programming language and computer
 music system.
