#!/usr/bin/make -f

DEB_SRCDIR = src
DEB_AUTO_UPDATE_AUTOCONF = 2.57
DEB_AUTO_UPDATE_ACLOCAL = 1.11

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk

DEB_CONFIGURE_EXTRA_FLAGS = --without-ALL --with-ftgl --with-ImageMagick --with-lqt --with-libquicktime --with-libmpeg3 --with-v4l --with-libv4l1 --with-libv4l2 --with-default-font=/usr/share/fonts/truetype/ttf-dejavu/DejaVuSans.ttf

DEB_INSTALL_CHANGELOGS_ALL = ChangeLog
DEB_FIXPERMS_EXCLUDE = /usr/share/gem/pd-gem
